/* Tampilan detail produk */

.container {
    margin-top: 30px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.btn-primary {
    font-size: 1.2rem;
    font-weight: 700;
}


/* Deskripsi */

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}